/*mainpage*/
* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
.wholepage {
  background: linear-gradient(135deg, #00feba, #5b548a);
  border-radius: 20px;
  margin: 1%;
  height: auto;
  display: flex;
  flex-direction: column;
}
.dynamics {
  display: flex;
  flex-direction: row;
  gap: 100px;
  justify-content: space-evenly;
  align-content: center;
  margin: 20;
}
/*topbar*/
.utilitybar {
  display: flex;
  flex-direction: row;
  padding-top: 20px;
  align-items: center;
  justify-content: center;
  gap: 3px;
}

.top-bar {
  display: flex;
  justify-content: right;
  width: 410px;
  padding-left: 30px;
}

.top-bar input {
  display: flex;
  width: 100%;
  height: 70px;
  background: #ffffff;
  border: none;
  outline: none;
  border-radius: 40px;
  padding-left: 40px;
  color: #272727;
  font-size: 20px;
  font-weight: 400;
}

.searchIcon {
  margin: 3px;
  background: rgba(114, 255, 248, 0.356);
  display: flex;
  justify-content: center;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
}

.searchIcon img {
  padding: 30%;
  transition: ease-out;
  transition-duration: 40ms;
}

.searchIcon img:hover {
  transform: scale(1.2);
}

.locationpin {
  margin: 3px;
  display: flex;
  width: 64px;
  height: 64px;
  padding: 18px;
  background: #8effe1c9;
  justify-content: center;
  border-radius: 50%;
  box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.09);
  transition: ease-in;
  transition-duration: 40ms;
}

.locationpin img {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.7;
  transition: ease-out;
  transition-duration: 40ms;
}

.locationpin img:hover {
  transform: scale(1.15);
}

.units {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 24px;
  color: #202020a8;
  gap: 2px;
  height: 64px;
  background-color: #8effe1c9;
  border-radius: 40px;
  width: auto;
  padding: 6px;
  margin: 3px;
  box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.09);
}

.units button {
  background-color: none;
  background: none;
  border: none;
  font-size: 24px;
  color: #202020cb;
  font-weight: 400;
  transition: ease-out;
  transition-duration: 40ms;
}

.units button:hover {
  transform: scale(1.15);
}
/*currentweather*/
.current-weather-box {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1%;
}
.current-weather {
  width: 100%;
  justify-content: center;
  align-items: center;
}

.weather-image {
  margin-top: 29px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.weather-temp {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 120px;
  font-weight: 400;
}

.city-name {
  margin-top: 15px;
  color: whitesmoke;
  display: flex;
  font-size: 60px;
  justify-content: center;
}

.data-container {
  margin: 1%;
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  gap: 1%;
}

.element {
  margin: auto;
  display: flex;
  align-items: center;
  gap: 15px;
  justify-content: center;
}

.divider {
  font-size: 150%;
}

.element img {
  width: 25%;
}

.data {
  font-size: 100%;
  font-weight: 400;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.text {
  font-size: 40x;
}

/*forecast*/
.forecastcontainer {
  margin: 32px;
}
.hourlyelements {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.f_element {
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  background: linear-gradient(135deg, #e6f8f328, rgba(255, 255, 255, 0.2));
  padding: 10px;
  border-radius: 15px;
  align-items: center;
  height: 30vh;
  width: 25%;
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 400;
  box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.09);
}

.f_element img {
  width: 100%;
}
.forecasthead {
  color: rgb(255, 255, 255);
  font-size: 22px;
}
.dailyforecast {
  margin-top: 55px;
}
.dailyelements {
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  gap: 7px;
}

@media only screen and (max-width: 850px) {
  .wholepage {
    border-radius: 0px;
    margin: 0%;
    height: auto;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .dynamics {
    flex-direction: column;

    width: 100%;
  }
  .current-weather-box {
    width: 90%;
    justify-content: center;
    align-items: center;
  }

  .current-weather {
    width: 100%;
  }

  .weather-image {
    margin-top: 35px;
  }

  .weather-temp {
    font-size: 550%;
  }

  .city-name {
    margin: -5%;
    font-size: 40px;
  }

  .data-container {
    width: auto;
    margin: 2%;
    width: 100%;
    gap: 1%;
    margin-bottom: -40%;
  }

  .divider {
    font-size: 150%;
  }

  .element img {
    width: 15%;
  }

  .data {
    font-size: 80%;
    font-weight: 400;
    gap: 5px;
  }

  .text {
    font-size: 40x;
  }
  .top-bar {
    width: 100%;
  }
  /*bar config*/
  .utilitybar {
    gap: 3px;
  }

  .top-bar {
    width: 410px;
    padding-left: 30px;
  }

  .top-bar input {
    height: 40px;
    font-size: 18px;
  }

  .searchIcon {
    width: 34px;
    height: 34px;
  }

  .locationpin {
    width: 40px;
    height: 40px;
    padding: 10px;
  }

  .units {
    font-size: 20px;
    height: 40px;
    margin-right: 15px;
    width: 110px;
  }

  .units button {
    font-size: 18px;
  }
  /*forecast*/
  .f_element {
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background: linear-gradient(135deg, #e6f8f328, rgba(255, 255, 255, 0.2));
    padding: 5px;
    border-radius: 11px;
    align-items: center;
    height: 22vh;
    width: 25%;
  }
}
