.forecastcontainer {
  margin: 32px;
 
}
.hourlyelements {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.f_element {
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  background: linear-gradient(135deg, #e6f8f328, rgba(255, 255, 255, 0.2));
  padding: 10px;
  border-radius: 15px;
  align-items: center;
  height: 30vh;
  width: 25%;
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 400;
  box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.09);
}

.f_element img {
  width: 100%;
}
.forecasthead {
  color: rgb(255, 255, 255);
  font-size: 22px;
}
.dailyforecast {
  margin-top: 55px;
}
.dailyelements {
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  gap: 7px;
}

@media only screen and (max-width: 850px) {
  .f_element {
    height: 20vh;
  }

  .hourlyelements {
    gap: 5px;
  }
}